<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Inicio</title>
</head>
<body>
  <center>
  <h1>Receba o status da sua entrega via sms</h1>

  <form action="/enviado" method="get">

  <input type="text" class="form-control" placeholder="Insira aqui o código de rastreio de correios" id="codnumber" name="codnumber" required ><br>
  
  <input type="tel" class="form-control" placeholder="Insira aqui o seu número de celular" id="telnumber" name="telnumber" required ><br>
  
  <small>O número precisa ser no formato: +5511991345411</small>

  <p><input type="checkbox" name="ok" required >Aceito receber o status via sms</p>

  <button>Socilitar Status</button>
  </form>

  </center>
</body>
</html>